@font-face {
  font-family: 'Indie Flower';
  src: url('../assets/fonts/IndieFlower-Regular.ttf');
}

:root {
  --primary-bg: #e5f8ff;
  --secondary-bg: #ffedf1;
  --main-color: #4450b0;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Indie Flower', cursive;
  background: var(--primary-bg);
  color: var(--main-color);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--main-color);
}
